// Colors
// Base
$color-text:                   white !default;
$color-heading:                black !default;
$color-meta:                   orange !default;
$color-bg:                     black !default;
$color-bg-alt:                 black !default;
$color-bg-overlay:             rgba(247, 246, 245, 0.8) !default;
$color-border:                 #e1e4e9 !default;

// Links
$color-link:                   orange !default;

// Blockquotes
$color-blockquote:             #282f36 !default;
$color-blockquote-border:      orange !default;

// Buttons
$color-btn:                    #fff !default;
$color-btn-bg:                 orange !default;
$color-btn-border:             orange !default;
$color-btn-alt:                orange !default;
$color-btn-alt-bg:             transparent !default;
$color-btn-alt-border:         orange !default;
$color-btn-clear:              #282f36 !default;

// Navigation
$color-nav-link:               white !default;
$color-nav-link-hover:         #28aaff !default;
$color-nav-link-active:        #28aaff !default;

// Inverse (light text on dark background)
$color-inverse-text:           #f5f6f7 !default;
$color-inverse-heading:        black !default;
$color-inverse-bg:             yellow !default;
$color-inverse-link:           #f5f6f7 !default;
$color-inverse-btn:            black !default;
$color-inverse-btn-bg:         orange !default;
$color-inverse-btn-border:     orange !default;
$color-inverse-btn-alt:        orange !default;
$color-inverse-btn-alt-bg:     black !default;
$color-inverse-btn-alt-border: black!default;
$color-inverse-btn-clear:      black!default;


// Shadows
$box-shadow: 0 0 1em rgba(0,0,0,.08) !default;


// Typography
$font-family-sans-serif: "open sans";
$font-family-monospace:  Georgia;
$font-family-base:       $font-family-sans-serif;


// Widths
$width-xs: 360px !default;
$width-sm: 460px !default;
$width-md: 740px !default;
$width-lg: 1140px !default;


// Breakpoints
$media-breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 800px,
  lg: 960px,
  xl: 1200px
) !default;
